extends ./common
block head
    block metas
        +commonMeta
    block links
        +commonLink('./')
    block scripts
        +commonScript('./')
    block title
        title larUI-互联网组件仓库
block bodyContent
    div.leftMenu
        +leftMenu("./")
    div.rightContent
        section.content
            div
                span 欢迎使用larui组件仓库中的组件，使用中如有任何问题，欢迎反馈。邮箱：1174525208@qq.com
