span.hidden {
    display: none;
}
nav.navbar a.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.container-fluid ol.breadcrumb {
    margin-top: 20px;
    margin-bottom: 10px;
}
div.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

br {
    clear: both;
}

body {
      position: relative;
      width: 100%;
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
}
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      width: 100%;
      height: 200px;
      background: #bf8489;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

button.btn.btn-default {
    width: 110px;
    margin: 5px 5px;
    cursor: pointer;
}
.append-buttons {
    padding-top : 5px;
    text-align: center;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100px;
    opacity: 0.4;
}
.append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

code.block {
    display: block;
    background-color: rgba(230, 215, 215, 0.28);
}

div.code-html, div.code-js, div.code-css {
    font-size: 0.9rem;
}
span.annotation {
    color: #aaa;
}

.description-title {
    color: #6b8e72;
    font-weight: bold;
}
div.description {
    font-size: 0.9rem;
    padding-bottom: 10px;
}
div.description-default span.value {
    color: #bd4147;
}

@media screen and (min-width: 631px) {
    div.container-fluid ol.breadcrumb {
        margin-top: -10px;
    }

    nav.navbar a.navbar-brand {
        overflow: visible;
    }
}

@media screen and (min-width: 992px) {
    div.container-fluid ol.breadcrumb {
        margin-top: -10px;
    }

    nav.navbar a.navbar-brand {
        overflow: visible;
    }

    div.result {
        padding-left: 15px;
    }

    div.item-content {
        height: 160px;
    }

    div.item-img img {
        width: 140px;
        height: 140px;
    }

    div.item-description {
        padding-left: 10px;
    }
}
