mixin renderOption(obj)
    h5
      a.headerlink#sharp(href="#silent")| #{obj.title}
    ul 
      li
        p
          Strong 类型：
          code #{obj.type}
      li
        p
          Strong 默认值：
          code #{obj.default}
      li
        p
          Strong 说明：
          code #{obj.description}
