// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand(href='index.html') LAR-UI 精致的组件、样式、工具方法等互联网零件共享仓库
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    ul#exampleAccordion.navbar-nav.navbar-sidenav
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='larGalleryWall.html')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 照片墙组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='larFullTextSearch.html')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 全文检索组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='larBackTop.html')
          i.fa.fa-fw.fa-dashboard
          span.nav-link-text
            | 返回顶部组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Charts')
        a.nav-link(href='larDialog.html')
          i.fa.fa-fw.fa-area-chart
          span.nav-link-text
            | 弹出框组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Tables')
        a.nav-link(href='larGallery.html')
          i.fa.fa-fw.fa-table
          span.nav-link-text
            | 画廊组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Components')
        a.nav-link(href='larPagination.html')
          i.fa.fa-fw.fa-wrench
          span.nav-link-text
            | 分页组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Example Pages')
        a.nav-link(href='larTimeAxis.html')
          i.fa.fa-fw.fa-file
          span.nav-link-text
            | 时间轴组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larUpload.html')
          i.fa.fa-fw.fa-sitemap
          span.nav-link-text
            | 附件上传组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larPagination.html')
          i.fa.fa-fw.fa-sliders
          span.nav-link-text
            | 动态分页组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larFancyZoom.html')
          i.fa.fa-th-large
          span.nav-link-text
            | 图片放大组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larGallery.html')
          i.fa.fa-photo
          span.nav-link-text
            | 轮播图组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larLoading.html')
          i.fa.fa-circle-o-notch
          span.nav-link-text
            | 等待加载组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larUpload.html')
          i.fa.fa-cloud-upload
          span.nav-link-text
            | 附件上传组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larAccordion.html')
          i.fa.fa-magnet
          span.nav-link-text
            | 手风琴组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larPdfJS.html')
          i.fa.fa-cloud-upload
          span.nav-link-text
            | PDF加载组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larBooklet.html')
          i.fa.fa-book
          span.nav-link-text
            | 书卷展示组件
      li.nav-item(data-toggle='tooltip', data-placement='right', title='Menu Levels')
        a.nav-link(href='larShelfGallery.html')
          i.fa.fa-stack-exchange
          span.nav-link-text
            | 书架展示组件
    ul.navbar-nav.sidenav-toggler
      li.nav-item
        a#sidenavToggler.nav-link.text-center
          i.fa.fa-fw.fa-angle-left
    ul.navbar-nav.ml-auto
      li.nav-item.dropdown
        a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.fa.fa-fw.fa-bell
          span.d-lg-none
            | 通知
            span.badge.badge-pill.badge-warning 6 New
          span.indicator.text-warning.d-none.d-lg-block
            i.fa.fa-fw.fa-circle
        .dropdown-menu(aria-labelledby='alertsDropdown')
          h6.dropdown-header 开发进度:
          .dropdown-divider
          a.dropdown-item(href='#')
            span.text-success
              strong
                i.fa.fa-long-arrow-up.fa-fw
                | 此页面正在维护中
          .dropdown-divider
          a.dropdown-item(href='#')
            span.text-danger
              strong
                i.fa.fa-long-arrow-down.fa-fw
                | Gallery组件正在开发中
          .dropdown-divider
          a.dropdown-item(href='#')
            span.text-success
              strong
                i.fa.fa-long-arrow-up.fa-fw
                | 返回顶部组件正在开发中
          .dropdown-divider
      li.nav-item
        form.form-inline.my-2.my-lg-0.mr-lg-2
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-primary(type='button')
                i.fa.fa-search
