<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css">
<link rel="stylesheet" href="galleryWall.css">
<link rel="stylesheet" href="../lar-ui.css">
<script src="../../lib/jquery-1.11.2.js"></script>
<script src="larGalleryWall.js"></script>
</head>
<body>
<section class="container">
	<div class="galleryWallContainer">
	</div>
	<div class="lar-arrow"></div>
</section>
</body>
<script>
	$(document).ready(function(){
		$('.galleryWallContainer').galleryWall({
			galleryType : 'tall'
		});
	});
</script>
</html>