doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel="stylesheet" href="css/larPagination/larPagination.css")

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Lar-ui
          li.breadcrumb-item.active 动态分页组件
        div.result(style='height: 1000px')
          h3
            a.headerLink |动态分页组件
          p
            code LarPagination
            |动态分页组件用于分页查询的结果展示，可以动态调整每页展示结果条数。
          h3
            a.headerLink |使用方法
          p
            code $([selector]).larPagination([option]);
          h3
            a.headerLink |展示效果
          div.page-content
            section.specialTopicDynamicContent
          br
          p
          h3
            a.headerLink |属性说明
          table
            tr
              th.th1 属性
              th.th2 类型
              th.th3 描述
            tr
              td pageSize
              td int
              td 每页默认显示的条数
            tr
              td sizeSelector
              td Array
              td 每页显示条数的选择项
            tr
              td key
              td Object
              td
                div.table-description 返回结果的属性名定义
                div.table-detail
                  pre
                    ol.line
                      li pageSize : 'pageSize'
                        span.annotation //每页展示条数的参数名称
                      li pageNum : 'curPage'
                        span.annotation //当前页数的参数名称
                      li dataCount : 'allDataCount'
                        span.annotation //总条数的参数名称
                      li pageData : 'curPageData'
                        span.annotation //当前页数据的参数名称
            tr
              td remote
              td Object
              td
                div.table-description 定义使用服务获取数据的参数，基本与$.ajax的参数一致
                div.table-detail
                 pre
                   ol.line
                     li url : ''
                       span.annotation //服务路径
                     li data : {}
                       span.annotation //请求时需要发送的参数
                     li type : ''
                       span.annotation //请求方式，一般为POST或GET
                     li dataType : ''
                       span.annotation //返回数据的方式，一般为json
                     li succses : Function(data1, data2)
                       span.annotation //请求成功之后执行的方法，data1为当前页数据数组，data2为请求返回的原始数据



      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/js/core.pug

      include includes/js/custom.pug

      script(src='larPagination/larPagination.js')
      script.
        $('.specialTopicDynamicContent').larPagination({
          remote : {
              url : 'larPagination/data.json',
              type : 'GET',
              dataType : 'json',
              success : function(curPageData,data){
                  $.each(curPageData, function(index, item){
                      var name = item.createUserName;
                      var dictBizType = item.dictBizType;
                      var titleName = item.titleName;
                      var audioAuthor = item.audioAuthor;
                      var imgPath = item.imgPath;
                      var itemHtml = '<div class="item-content">' +
                                     '<div class="item-img"><img src="' + imgPath + '"></div>' +
                                     '<div class="item-description">' +
                                       '<div class="item-title">' + titleName + '</div>' +
                                       '<div class="item-instruction">' + item.audioAuthor + ',' + item.dictBizType + '<div>'
                                     '</div>' +
                                     '</div>';
                      $('.specialTopicDynamicContent').prepend(itemHtml);
                  });
              }
          }
        });
      // Toggle between fixed and static navbar
      script.
        $('#toggleNavPosition').click(function() {
        $('body').toggleClass('fixed-nav');
        $('nav').toggleClass('fixed-top static-top');
        });

      // Toggle between dark and light navbar
      script.
        $('#toggleNavColor').click(function() {
        $('nav').toggleClass('navbar-dark navbar-light');
        $('nav').toggleClass('bg-dark bg-light');
        $('body').toggleClass('bg-dark bg-light');
        });
