// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.js')
// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.js')


