/* ==========================================================================
   lay-ui Font 
   ========================================================================== */
   // 网页尺寸 
   // 		显示区域1170px  
   // 文本
   // 		字体：微软雅黑（标题）／宋体（段落）
   $fontTit: "Microsoft YaHei";   
   $fontCon: "宋体";
   // 		字号：24px（特殊大标题）／18px（标题一）／16px（标题二）／14px（内容区）
   $sizeTit0: 24px;
   $sizeTit1: 18px;
   $sizeTit2: 16px;
   $sizeCon: 14px;
   // 色值
   // 		#800000（主题红）／#333333（黑）／#ffffff（白）
   $colorMain: #da2d29;
   $colorSec: #333333;
   $colorThird: #ffffff;
   $color4th: #c32522;//hover色
   
   $border: 1px solid #ccc;

   *{
   		margin:0;
   		padding:0;
   }
   body{
      position: relative;
      font-size: 14px;
   	color: #333333;
   	font-family: "Microsoft YaHei";
      list-style: none;
      a{ color: #333; cursor: pointer;}
      // a:visited{ color: #800000;}
      a:hover{ color: $colorMain; text-decoration: none;}
      a:active{ color: $colorMain;}
      .glyphicon{ top: 0;}
      ul{
         list-style-type: none;
         -webkit-padding-start: 0;
      }
      dt{ font-weight: 100;}
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{ font-weight: 100;}
      .form-control:focus{
         outline: none;
         box-shadow: none;
         border-color: #ccc;
      }
      button{
         outline: none;
      }
      .noPointer:hover{
         cursor: default;
      }
   }

/* ==========================================================================
   lay-ui header 头部样式  
   ========================================================================== */
   @import "partial/_header.scss";
/* ==========================================================================
   lay-ui footer 尾部样式
   ========================================================================== */
   @import "partial/_footer.scss";
/* ==========================================================================
   lay-ui lar-tab 组件样式
   ========================================================================== */   
   @import "partial/_larTab.scss";
/* ==========================================================================
   lay-ui lar-pagination 组件样式
   ========================================================================== */
	@import "partial/_larPagination.scss";
/* ==========================================================================
   lay-ui btn 按钮样式
   ========================================================================== */   
   @import "partial/_btnLaw.scss"; 
/* ==========================================================================
   lay-ui btn 侧边栏样式
   ========================================================================== */   
   @import "partial/_leftSidebar.scss"; 
/* ==========================================================================
   lay-ui btn 导航样式
   ========================================================================== */   
   @import "partial/_navLaw.scss"; 
/* ==========================================================================
   lay-ui lar-table 组件样式
   ========================================================================== */
	@import "partial/_larTable.scss";
/* ==========================================================================
   lay-ui lar-modal 组件样式
   ========================================================================== */
	@import "partial/_larModal.scss";
/* ==========================================================================
   lay-ui lar-gallery 组件样式
   ========================================================================== */
   @import "partial/_larGallery.scss";
/* ==========================================================================
   lay-ui lar-suspensionFrame 悬浮框公共样式
   ========================================================================== */
   @import "partial/_larSuspensionFrame.scss";   
/* ==========================================================================
   spc-ui spc-fulltextSearch 组件样式
   ========================================================================== */
   @import "partial/_spcFulltextSearch.scss"; 
/* ==========================================================================
   lar-ui lar-timeAxis 组件样式 
   ========================================================================== */
   @import "partial/_larTimeAxis.scss";
/* ==========================================================================
   lar-ui lar-imageText 组件样式
   ========================================================================== */
   @import "partial/_larImageText.scss"; 
/* ==========================================================================
   lar-ui lar-accordion 组件样式
   ========================================================================== */
   @import "partial/_larAccordion.scss"; 
/* ==========================================================================
   lar-ui commonSpecial 地方专题页 公共部分
   ========================================================================== */
   @import "partial/_commonSpecial.scss"; 
