/*头部*/
section.search-header
  background-color: #ffffff
  .icon
    display: inline-block
    font-size: 28px
    width: 33%
  .others
    display: inline-block
    width: 67%


/*主题内容区*/
section.content
  max-width: 1024px
  background-color: #000088
  .leftMenu
    width: 33%

  .right-content
  width: 67%


section.content > div
  display: inline-block



/*尾部*/
