// Bootstrap core CSS
link(href='vendor/bootstrap/css/bootstrap.css', rel='stylesheet')
// Custom fonts for this template
link(href='vendor/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
