extends ./../../common
block head
    block metas
        +commonMeta
    block links
        +commonLink('/')
        //+commonLink('/larui/larui/')
    block scripts
        +commonScript('/')
        //+commonScript('/larui/larui/')
        script(src="gallery.js")
    block title
        title larUI-互联网组件共享库--tt
block bodyContent
    section
        div
            div.art_classfications1(style="height:320px;margin:10px;width:100%")
