extends ./../../common
block head
    block metas
        +commonMeta
    block links
        +commonLink('/')
        //+commonLink('/larui/larui/')
    block scripts
        +commonScript('/')
        //+commonScript('/larui/larui/')
        script(src="galleryTemplate.js")
    block title
        title larUI-互联网组件库
block rightContent
    //gallery--4张图片上下排版
    section
        div
            div.art_classfications1(style="height:320px;margin:10px;width:100%")
