extends ./../common/common
block head
    block metas
        +commonMeta
    block links
        +commonLink('./../')
        //+commonLink('/larui/larui/')
    block scripts
        +commonScript('./../')
        script(src="gallery.js")
    block title
        title larUI-互联网零件共享库
block bodyContent
    section
        div(style="padding:10px")
            div.art_classfications(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications1(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications2(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications2-1(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications3(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications4(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications5(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications6(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications7(style="height:320px;width:100%")
    section
        div(style="padding:10px")
            div.art_classfications8(style="height:320px;width:100%")

