extends ./../common/common
block head
    block metas
        +commonMeta
    block links
        +commonLink('./../')
        //+commonLink('/larui/larui/')
    block scripts
        +commonScript('./../')
        script(src="gallery.js")
    block title
        title larUI-互联网零件共享库
block bodyContent
    section
        div(style="padding:15px;height:300px;width:100%;background:url('./../images/strength_bg.png') ;background-size:cover")
            div.art_classfications(style="")
    section
        div.demoContainer
            div.art_classfications1(style="height:300px;width:970px;")
    section
        div.demoContainer
            div.art_classfications2(style="height:242px;width:970px;")
    section
        div.demoContainer
            div.art_classfications2-1(style="height:242px;width:970px;")
    section
        div.demoContainer
            div.art_classfications3(style="height:300px;width:970px;")
    section
        div.demoContainer
            div.art_classfications4(style="height:320px;width:100%;")
    section
        div.demoContainer
            div.art_classfications5(style="height:320px;width:100%;")
    section
        div(style="padding:15px")
            div.art_classfications6(style="background:url('./../images/strength_bg.png') ;background-size:cover;margin:20px auto")
    section
        div.demoContainer
            div.art_classfications7(style="height:320px;width:100%;")
    section
        div.demoContainer
            div.art_classfications8(style="height:320px;width:100%;")
    section
        div.demoContainer
            div.art_classfications9(style="height:320px;width:100%;")