extends ./../common/common
block head
    block metas
        +commonMeta
    block links
        +commonLink('./../')
        //+commonLink('/larui/larui/')
    block scripts
        +commonScript('./../')
        //+commonScript('/larui/larui/')
        //所有组件的压缩文件
        //script(src="dist/larui.js")
        //gallery组件的压缩文件
        script(src="./../dist/larGallery.js")
        script(src="gallery.js")
    block title
        title larUI-互联网零件共享库
block bodyContent
    section
        div(style="padding:10px")
            div.art_classfications1(style="height:320px;width:100%")
