@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar/navbar_global.scss";
@import "navbar/navbar_fixed.scss";
@import "navbar/navbar_static.scss";
@import "navbar/navbar_toggle.scss";
@import "navbar/navbar_colors.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";
@import "main.scss";

body{
  color: #333;
}
h1.larTit{
  font-size: 28px;
  font-weight: 400;
  color: #1f2f3d;
}
h2.larSubtit{
  margin: 55px 0 20px;
  font-size: 22px;
  font-weight: 400;
  color: #1f2f3d;
}
.larBody{
  font-size: 14px;
  color: #5e6d82;
  line-height: 4em;
}
.demoBox{
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
  padding: 40px;
}
.codeArea{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  padding: 9px 14px;
}
table.larAttr{
  th{
    color: #666;
    font-weight: 400;
    font-size: 14px;
  }
  th,td{
    min-width: 250px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d8d8d8;
  }
}
