extends common
block head
    block metas
        +commonMeta
    block links
        +commonLink('../')
    block scripts
        +commonScript('../')

    block title
        title larUI-互联网组件库
block rightContent
    //+header
    section.content.container.section
        div.row
            div.left-menu.col-sm-2.hidden-xs
            div.right-content.col-sm-10.col-xs-12.infomation
    //+footer