extends common
block head
    block metas
        +commonMeta
    block links
        +commonLink('../')
    block scripts
        +commonScript('/larui/larui/')

    block title
        title larUI-互联网组件库
block rightContent
    //+header
    section.content
        div
            span 欢迎使用larui组件库中的组件
    //+footer