extends common
block head
    block metas
        +commonMeta
    block links
        //+commonLink('/larui/larui/')
        +commonLink('/')
    block scripts
        +commonScript('/')
        //+commonScript('/larui/larui/')

    block title
        title larUI-互联网组件仓库

block bodyContent
    div.leftMenu
        +leftMenu
    div.rightContent
        section.content
            ul
            li
                input(type="checkbox" value="lar-gallery")
                span gallery
            li
                input(type="checkbox" value="lar-backtop")
                span backtop
            li
                input(type="checkbox" value="lar-galleryWall")
                span galleryWall
            li
                input(type="checkbox" value="lar-gallery")
                span gallery

        button(class="button1" value="commit" style="width:100px;height:40px;background:#64b5bf;border-radius:6px") 打包
